.my-button {
     -fx-min-height: 70px;
     -fx-min-width: 150px;
     -fx-font: 17pt "Times New Roman";
     -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);
 }
 .my-button-save {
      -fx-min-height: 70px;
      -fx-min-width: 110px;
      -fx-font: 17pt "Times New Roman";
      -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);
      -fx-graphic: url("save-icon.png");
  }
  .my-button-count {
       -fx-min-height: 70px;
       -fx-min-width: 110px;
       -fx-font: 17pt "Times New Roman";
       -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);

   }
   .my-button-search {
         -fx-min-height: 70px;
         -fx-min-width: 110px;
         -fx-font: 17pt "Times New Roman";
         -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);
         -fx-graphic: url("search.png");
     }
     .my-error-label{
     -fx-font: 17pt "Times New Roman";
     }
    .my-button-little-search {
             -fx-min-height: 40px;
             -fx-min-width: 70px;
              -fx-alignment: center;
             -fx-font: 17pt "Times New Roman";
             -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);

         }


